/* .nav-logo {
    height: 40px;
    width: 170px;
} */
/* .border {
    border: 1px solid transparent;  adds a transparent border around the div 
}

.border:hover {
    border: 1px solid white; on hover the border color changes to white; width of white is 1px (while the actual border is 2px (same as bg color) 
}

.logo {
    background-image: url("../images/butter.png");
    background-size: cover;   stretches the background image to cover entire element 
    height: 36px;
    width: 100%;  uses 100% of the superdiv width 
} */

/* .left-section .cover {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
} */



*{
    margin: 0;
    font-family: lucida grande;
    border: border-box;
    background-color: rgb(231, 235, 242);
 }

.navbar {
    height: 45px;
    background-color: hwb(0 22% 75%);
    color: white;
}


/* main block begins */
.root { /* default for the entire page */
    display: flex;
    background: rgb(231, 235, 242);
    /* color: #333; */
    font-size: 11px;
    font-family: 'lucida grande', tahoma;
    height: 100%;
}

.section{
    flex: 1;
    /* padding: 5px; */
    position: relative;
}
.left-section, .right-section {
    flex: 1;
}
.middle-section {
    position: relative;
    flex: 1.5;
}


/* left-section */
.leftbgImage{
    background: url(https://user-images.githubusercontent.com/74038190/212259363-d40b7a35-375b-470c-b4e2-2d9cb8ac706c.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(6px);
    /* position: absolute; */
}

.leftContent {
    width: 400px;
    height: 700px;
    margin-left: 10px;
    margin-right: 10px;
}
.profileCover { /* for cover photo, profile photo and name */
    width: 400px;
    height: 250px;
    border: 1px solid rgba(2, 2, 2, 0.3);
    border-radius: 3px;
    margin-top: -150%;
    position: absolute;
}
/* .coverWrap {  area for cover photo (makes movement of section easier 
    width: 100%;  relative to profiel-box 
    height: 100%;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 3px;
} */

#coverImg { /* container for cover photo */
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.profilePhotoWrap { /* area for profile phot0 */
    height: 95px;
    width: 95px;
    background: rgba(0,0,0,.3);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    margin-top: -111%; /* relative to the end of profile-box */
    margin-left: 40px;
    position: absolute;
}
#profileImg { /* container for profile photo */
    width: 100%;
    height: 100%;
    border: 2.5px solid white;
    border-radius: 2px;
    position: absolute;
}
img {
    width: 100%;
    height: 100%;
}

.topsectionBottomBorder {
    width: 400px;
    height: 8px;
    display: block;
    margin-left: 50px;
    position: absolute;
    margin-top: -100%;
    background-position: -0px -0px;
    border-bottom: 1px solid black;
    border-top-color: rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.25);
}

/* .middle-section */
.midbgImage {
    background: url(https://user-images.githubusercontent.com/74038190/213911110-aedbef38-a29f-4b6b-a65c-11608b4f75a5.gif);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(3px);
    position: absolute;
}

.content {
    color:white;
    background:rgba(0,153,0);
    display: flex;
    position: absolute;
    /* top: -740px; */
    background-color: transparent;
}


/* right-section */
.rightbgImage {
    /* background: url(https://user-images.githubusercontent.com/74038190/213910845-af37a709-8995-40d6-be59-724526e3c3d7.gif); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    filter:blur(4px);
}
.education {
    width: 370px;
    height: 180px;
    /* border: 1px solid rgb(56, 51, 51); 
    border-radius: 4px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    position: absolute;
}
#college {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 540;
    margin-top:4px;
}
#degree {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    font-size: 12px;
    font-weight: 500;
}

#higher-secondary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 540;
    margin-top: -20px;
}
#twelfth {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    font-size: 12px;
}

#secondary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 540;
    margin-top: -20px;
}
#tenth {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    font-size: 12px;
}
#ed-padding{
    padding:5px;
}


#EXPERIENCE {
    margin-bottom: 1px;
}
.experience {
    width:370px;
    height:350px;
    border-radius: 3px;
    margin-top: 240px;
    margin-left:10px;
    margin-right:10px;
    position:absolute;
}

#expPadding{
    padding: 4px;
}


#secExp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 540;
    margin-top: 4px;
}
#secExpChild {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12.5px;
    margin-top: -12px;
    word-spacing: -1px;
}

#audioExp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 540;
    margin-top: 4px;
}
#audioExpChild {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12.5px;
    margin-top: -12px;
    word-spacing: -1px;
}

#videoExp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 540;
    margin-top: 7px;
}
#videoExpChild {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12.5px;
    margin-top: -12px;
    word-spacing: -1px;
}

#videoExp2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 540;
    margin-top: 7px;
}
#videoExpChild2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12.5px;
    margin-top: -14px;
    word-spacing: -1px;
}

.socials {
    width: 300px;
    height: 300px;
    display: flex;
    position: absolute;
    margin-left: 90px;
    margin-top:600px;
    border: 1px solid black;
}