/* .nav-logo {
    height: 40px;
    width: 170px;
} */
/* .border {
    border: 1px solid transparent;  adds a transparent border around the div 
}

.border:hover {
    border: 1px solid white; on hover the border color changes to white; width of white is 1px (while the actual border is 2px (same as bg color) 
}

.logo {
    background-image: url("../images/butter.png");
    background-size: cover;   stretches the background image to cover entire element 
    height: 36px;
    width: 100%;  uses 100% of the superdiv width 
} */

/* .left-section .cover {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
} */



*{
    margin: 0;
    font-family: lucida grande;
    border: border-box;
    background-color: rgb(231, 235, 242);
 }

.navbar {
    height: 45px;
    background-color: hwb(0 22% 75%);
    color: white;
}


/* main block begins */
.root { /* default for the entire page */
    display: flex;
    background: rgb(231, 235, 242);
    /* color: #333; */
    font-size: 11px;
    font-family: 'lucida grande', tahoma;
    height: 100%;
}

.section{
    flex: 1;
    /* padding: 5px; */
    position: relative;
}
.left-section, .right-section {
    flex: 1;
    border: 1px solid black;
}
.middle-section {
    position: relative;
    border: 1px solid #1c2a47;
    flex: 1.5;
}


/* left-section */
.left-section {
    background: url(https://user-images.githubusercontent.com/74038190/212259363-d40b7a35-375b-470c-b4e2-2d9cb8ac706c.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(6px);
}

.leftContent {
}
.profile-box { /* for cover photo, profile photo and name */
    width: 440px;
    height: 250px;
    border: 1px solid rgba(9, 9, 9, 0.3);
    border-bottom: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100%;
}
.coverWrap { /* area for cover photo (makes movement of section easier */
    width: 100%; /* relative to profiel-box */
    height: 100%;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 3px;
}
.coverImg { /* container for cover photo */
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}

.profilePhotoWrap { /* area for profile phot0 */
    height: 95px;
    width: 95px;
    background: rgba(0,0,0,.3);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    margin-top: -111%; /* relative to the end of profile-box */
    margin-left: 40px;
    position: absolute;
}
.profileImg { /* container for profile photo */
    width: 100%;
    height: 100%;
    border: 2.5px solid white;
    border-radius: 2px;
}
img {
    width: 100%;
    height: 100%;
}



/* .middle-section */
.midbgImage {
    background: url(https://user-images.githubusercontent.com/74038190/213911110-aedbef38-a29f-4b6b-a65c-11608b4f75a5.gif);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(3px);
}

.content {
    color :rgb(33, 142, 192);
}



/* right-section */
.rightbgImage {
    background: url(https://user-images.githubusercontent.com/74038190/213910845-af37a709-8995-40d6-be59-724526e3c3d7.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    filter:blur(4px);
}
.education {
    background-color: azure;
    width: 320px;
    height: 180px;
    border: 1px solid brown;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    position: absolute;
}
.experience {
    background-color: azure;
    widht:320px;
    height:180px;
    border: 1px solid brown;
    border-radius: 3px;
    margin-top: 240px;
    margin-left:10px;
    margin-right:10px;
    position:absolute;
}

#exp-padding, #audio-exp{
    padding:5px;
}

















/* .coverBorder {
    border: 1px solid black;
    border-top-color: rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.25);
}
credentials section begins

.coverTimeline {
    height: 60px;
    width: 100%;
}


.name {
    overflow: hidden;
    word-wrap: break-word;
}

profile photo section 
.photoContainer-frame {
    margin-top: -121px;
    background: rgba(0,0,0,.3);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    left: 23px;
    padding: 1px; 
    position: absolute; 
}

.photo {
    height: 160px;
    width: 160px;
    border: 4px solid white;
    background-color: #fff;
    border-radius: 2px;
    aspect-ratio: auto;
}
profile photo section ends 

name section 
h2 {
    margin-left: 206px;
    color: #1c2a47;
    font-size: 20px;
    overflow: hidden;
    margin: 16px 0 0 200px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}
name section ends 

.topsectionBottomBorder {
    width: 851px;
    height: 4px;
    display: block;
    background-position: -0px -0px;
    border-bottom: 1px solid black;
    border-top-color: rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.25);
} */

