*{
    margin: 0;
    font-family: lucida grande;
    border: border-box;
    background-color: rgb(231, 235, 242);
 }

.navbar {
    height: 45px;
    background-color: hwb(0 22% 75%);
    color: white;
}


/* main block begins */
.root { /* default for the entire page */
    display: flex;
    background: rgb(231, 235, 242);
    /* color: #333; */
    font-size: 11px;
    font-family: 'lucida grande', tahoma;
}

.left-section{
    position: relative;
    flex: 2;
}
.right-section {
    flex: 1;
    position: relative;
}


/* left-section */
/* .leftbgImage{
    background: url(https://user-images.githubusercontent.com/74038190/213911110-aedbef38-a29f-4b6b-a65c-11608b4f75a5.gif);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(3px);
    height: 700px;
    border: 1px solid black;
    position: relative;
} */

.profileCover {
    width: 720px;
    height: 315px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
    margin-left: 80px;
    margin-top: 20px;
    position: absolute;
    border-radius: 3px;
}
.coverContainer {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
}
#coverPhoto {
    width: 100%;
    height: 100%;
}

.profilePhoto {
    width: 105px;
    height: 105px;
    margin-left: 120px;
    margin-top: 260px;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
}
.profileContainer {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    border: 3px solid #fff;
}
#profilePhoto {
    width: 100%;
    height: 100%;
}


.projectCardrow1 {
    width: 720px;
    height: 150px;
    margin-top: 400px;
    margin-left: 80px;
    display: flex;
}
.projectCardrow2 {
    width: 720px;
    height: 150px;
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
}


#project1 {
    width: 150px;
    height: 150px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3);
    border-radius: 4px;
}
.projectImageContainer {
    width: 100%;
    height: 90px;
    overflow: hidden;
    border: 0.5px solid rgba(0, 0, 0, .3);
    border-bottom: 0;
    border-radius: 3px;
}
#project1Image {
    width: 100%;
}
#project1Description {
    background-color: #fff;
    width: 100%;
    height: 60px;
}

#project2 {
    width: 150px;
    height: 150px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3);
    border-radius: 4px;
    margin-left: 40px;
}
#project2Image {
    width: 100%;
}
#project2Description {
    background-color: #fff;
    width: 100%;
    height: 60px;
}

#project3 {
    width: 150px;
    height: 150px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3);
    border-radius: 4px;
    margin-left: 40px;
}
#project3Image {
    width: 100%;
}
#project3Description {
    background-color: #fff;
    width: 100%;
    height: 60px;
}

#project4 {
    width: 150px;
    height: 150px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3);
    border-radius: 4px;
    margin-left: 40px;
}
#project4Image {
    width: 100%;
}
#project4Description {
    background-color: #fff;
    width: 100%;
    height: 60px;
}
/* right-section */
.rightbgImage {
    /* background: url(https://user-images.githubusercontent.com/74038190/213910845-af37a709-8995-40d6-be59-724526e3c3d7.gif); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    filter:blur(4px);
}

.fa-solid {
    font-size: 22px;
}
.education {
    width: 400px;
    height: 180px;
    /* border: 1px solid rgb(56, 51, 51); 
    border-radius: 4px; */

    margin-right: 10px;
    margin-top: 20px;
    position: absolute;
}
#college {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 540;
    margin-top:4px;
}
#degree {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    font-size: 16px;
    font-weight: 500;
}

#higher-secondary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 540;
    margin-top: -20px;
}
#twelfth {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    font-size: 16px;
}

#secondary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 540;
    margin-top: -20px;
}
#tenth {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -13px;
    font-size: 16px;
}
#ed-padding{
    padding:5px;
}


#EXPERIENCE {
    margin-bottom: 1px;
}
.experience {
    width:400px;
    height:350px;
    border-radius: 3px;
    margin-top: 220px;
    margin-right:10px;
    position:absolute;
}

#expPadding{
    padding: 4px;
}


#secExp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 540;
    margin-top: 4px;
}
#secExpChild {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16.5px;
    margin-top: -12px;
    word-spacing: -1px;
}

#audioExp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 540;
    margin-top: 4px;
}
#audioExpChild {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16.5px;
    margin-top: -12px;
    word-spacing: -1px;
}

#videoExp {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 540;
    margin-top: 7px;
}
#videoExpChild {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16.5px;
    margin-top: -12px;
    word-spacing: -1px;
}

#videoExp2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 540;
    margin-top: 7px;
}
#videoExpChild2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16.5px;
    margin-top: -14px;
    word-spacing: -1px;
}

.socials {
    width: 300px;
    height: 20px;
    display: flex;
    position: absolute;
    margin-top:733px;
}
.fa-brands {
    font-size: 20px;
    color: rgb(112,112,112);
}
#instagram {
    margin-left: 305px;
}
#linkedIn {
    margin-left: 12px;
}
#github {
    margin-left: 12px;
}
#mail {
    height:20px;
    margin-top: 755px;
    margin-left: 170px;
    font-size: 15px;
}
#link {
    color: rgb(112,112,112);
}